uvicorn[standard]
python-jose[cryptography]
python-dotenv
paho-mqtt
fastapi[all]
PyJWT==2.8.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart==0.0.6

# Streamlit predictive dashboard + data deps
streamlit
numpy
pandas
plotly
requests